
.carrito{
    display:flex;
    flex-direction: column;
    max-width:800px;
    margin: auto;
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
    .carrito{
        align-items: center;
    }
}