.cart{
    margin-right: 60px;
    color:black;
    display: flex;
    font-size: 35px ;
    margin-left: -150px;
    height: 50px;
    
    
}

.cart a{
    color:black
}

.cart:hover{
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .cart{
        margin-left: 20px;
        margin-right:0;
    }
    
}

