* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedor{
    max-width:2300px;
    margin: auto;
    
}


.prod_title {
    max-width:2100px;
    padding: 20px;
    margin: auto;
    margin-left:120px;
    margin-bottom: 10px;
    font-size: 3rem;
    
    /* margin:1rem 5rem; */
}
.noEncontrado{
    width: 300px;
    margin:auto;
}
.cont_prod{
    
    max-width:2100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px;
    
}

.barra {
    min-width: 130px;
    width: 600px;
    margin-right: 20px;
    padding: 0 10px; 
    margin:auto; 
    margin-top:50px;
}
.barra input:hover{
    box-shadow: 0px 2px 20px 0px black;
    transition: all 0.3s ease-in-out;
}
.barra.active input{
    box-shadow: 0px 2px 20px 0px rgb(126, 126, 126);
    border:none;
    padding: 0.5rem 1rem 0.2rem 1rem;
}
.barra input{
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;   
    box-shadow: 0px 2px 5px 0px black;
}



@media screen and (max-width: 2200px) {
    .prod_title{
        margin-left: 30px;
    }

}

@media screen and (max-width: 790px) {
    
    /* .cont_prod{
        display:flex;
        flex-direction: column;
        align-items: center;
    } */
    .prod_title{
        width:300px;
        margin:auto;
    }
    

}
