* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedor{
    max-width:2300px;
    margin: auto;
    
}


.prod_title {
    max-width:2100px;
    padding: 20px;
    margin: auto;
    margin-left:120px;
    margin-bottom: 10px;
    font-size: 3rem;
    
    /* margin:1rem 5rem; */
}
.noEncontrado{
    width: 300px;
    margin:auto;
}
.cont_prod{
    
    max-width:2100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px;
    
}

@media screen and (max-width: 2200px) {
    .prod_title{
        margin-left: 30px;
    }

}

@media screen and (max-width: 790px) {
    
    .cont_prod{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .prod_title{
        width:300px;
        margin:auto;
    }
}