.checkoutCont{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 800px;
    margin:auto;
}

.chechoutTitulo{

}
.checkoutForm{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.checkoutFormCont{
    padding: 1rem 0;
}
.checkoutFormInput{
    padding: 1.2rem 0;
}



.barraCheckout{
    position: relative;
}

.barraCheckout input{
    width:100%;
    height: 50px;
    padding:0 1rem;
    position: relative;
    border:none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: rgb(71, 68, 68);
    outline: none;
    box-shadow: 0px 2px 20px 0px rgb(126, 126, 126);
}

.barraCheckout input ::-webkit-input-placeholder{
    color: rgba(214, 34, 34, 0.8) ;
}
.barraCheckout input::-moz-placeholder{
    color: rgba(255,255,255,0.8) ;
}
.barraCheckout input:-ms-input-placeholder{
    color: rgba(255,255,255,0.8) ;
}
.barraCheckout input + label{
    position: absolute;
    top: 20px;
    left:15px;
    font-size: 1rem;
    font-weight: bold;
    color: #0a0a0a;
    line-height: 1.3rem;
    opacity: 0;
    pointer-events: none;
    transition: 0,1s all ease-in-out;
}
.barraCheckout input:hover{
    box-shadow: 0px 2px 20px 0px black;
}
/* .barraCheckout.active{
    box-shadow: 0px 2px 20px 0px rgb(126, 126, 126);
} */
.barraCheckout.active input{
    padding:1.2rem 1rem 0.2rem 1rem;
    box-shadow: 0px 2px 20px 0px rgb(126, 126, 126);
}
.barraCheckout.active input + label{
    top: 0.2rem;
    opacity: 1;
}

.error{
    padding: 1rem;
    position: absolute;
    left:0;
    bottom:-2.6rem;
    color:rgb(252, 104, 104)
}

.butCheckout{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 40px;
    font-size: 20px;
    font-weight:600;
    color:white;
    background: rgb(0, 132, 255);
    border:none;
    cursor:pointer;
    border-radius:5px;  
    transition: all 0.3s ease-in-out;
}
.butCheckout:hover{
    opacity:0.8;
}
.butCheckout:disabled{
    cursor: not-allowed;
}
.butCheckout:disabled:hover{
    background-color: rgb(131, 131, 133);
    opacity:1;
}

/* .barra {
    min-width: 130px;
    width: 600px;
    margin-right: 20px;
    padding: 0 10px; 
    margin:auto; 
    margin-top:50px;
}
.barra input:hover{
    box-shadow: 0px 2px 20px 0px black;
    transition: all 0.3s ease-in-out;
}
.barra.active input{
    box-shadow: 0px 2px 20px 0px rgb(126, 126, 126);
    border:none;
    padding: 0.5rem 1rem 0.2rem 1rem;
}
.barra input{
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;   
    box-shadow: 0px 2px 5px 0px black;
} */