@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@0,100;1,100&family=Rubik+Dirt&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
header {
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 80px;
    background-color:white;
    box-shadow: 0 4px 25px -20px black;
    z-index: 2;
    
}


.todo_header {
    height: 100%;
    padding: 10px;
    align-items: center;
    display: flex;
    
    justify-content: space-between;
}


.menu {
    padding-right: 20px;
}
.menu li {
    display: inline;
    margin: 0 20px;
    
}
.menu li a {
    font-family: "Rubik Dirt", cursive;
    color: black;
    transition: all 0.3s ease-in-out;
}

.menu a:hover{
    color:rgb(231, 37, 11);
}

.menu_desplegable {
    visibility: hidden;
    width: 80px;
    
}
.menu_desplegable button{
    background-color: rgb(0, 132, 255);
    font-size: 1.2rem;
}
.menu_desplegable a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.menu_desplegable a:hover{
    color: rgb(0, 132, 255);
}

.logo {
    padding-left: 20px;
    color: rgb(0, 132, 255);
    font-size: 38px;
    margin-right:20px;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
}

.barra {
    min-width: 130px;
    width: 600px;
    margin-right: 20px;
    padding: 0 10px; 
    margin:auto; 
    margin-top:50px;
}
.barra input:hover{
    box-shadow: 0px 2px 20px 0px black;
    transition: all 0.3s ease-in-out;
}
.barra.active input{
    box-shadow: 0px 2px 20px 0px rgb(126, 126, 126);
    border:none;
    padding: 0.5rem 1rem 0.2rem 1rem;
}
.barra input{
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;   
    box-shadow: 0px 2px 5px 0px black;
}





@media screen and (max-width: 1700px) {
    .cart{
        margin-left: 20px;
    }
    /* .barra{
        margin-right: 10px;
    } */
}    

@media screen and (max-width: 1600px) {
    /* .menu {
        display: none;
    } */
    /* .menu_desplegable {
        visibility: visible;
        margin-right: 150px;
    } */
    .header_visible {
        justify-content: initial;
    }
    .logo{
        margin-right:0px;
    }
    /* .logo {
        margin-right: 100px;
    } */
    /* .cart{
        margin-left: -100px;
    } */
    
}
@media screen and (max-width: 1030px) {
    .menu {
        display: none;
    }
    .menu_desplegable {
        visibility: visible;
        margin-right: 20px;
        width:150px;
        
        
    }
    .menu_desplegable li a{
        font-size: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .menu_desplegable{
        margin-right: 200px;
    }
    .logo{
        margin-right: 15px;
        font-size: 30px;
    }
    .barra{
        width: 250px;
    }
    .cart{
        color:white;
    }

}
@media screen and (max-width: 800px) {
    .menu_desplegable{
        margin-right: 160px;
    }
    

}