@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@0,100;1,100&family=Rubik+Dirt&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
header {
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 80px;
    background-color:white;
    box-shadow: 0 4px 25px -20px black;
    z-index: 2;
    
}


.todo_header {
    height: 100%;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menuDesplegable {
    visibility: hidden;
    width: 80px;
    
}
.menuDesplegable button{
    background-color: rgb(0, 132, 255);
    font-size: 1.2rem;
}


.logo {
    padding-left: 20px;
    color: rgb(0, 132, 255);
    font-size: 38px;
    margin-right:20px;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
}

@media screen and (max-width: 1700px) {
    .cart{
        margin-left: 20px;
    }
}    

@media screen and (max-width: 1600px) {

    .header_visible {
        justify-content: initial;
    }
    .logo{
        margin-right:0px;
    }

}
@media screen and (max-width: 1030px) {
    .menu {
        display: none;
    }
    .menuDesplegable {
        visibility: visible;
        margin-right: 5px;
        width:150px;
        
    }
    .menuDesplegable li a{
        font-size: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .menuDesplegable{
        margin-right: 80px;
        width: 120px;
    }
    .logo{
        margin-right: 15px;
        font-size: 30px;
    }
    .barra{
        width: 250px;
    }
    .cart{
        color:white;
    }

}
@media screen and (max-width: 650px) {
    .menuDesplegable{
        margin-right: 150px;
        width: 100px;
    }
}
@media screen and (max-width: 500px) {
    .menuDesplegable{
        width: 30px;
        margin-right: 40px;
    }
    .logo{
        font-size: 1.6rem;
        margin-right: 5;
    }
    
}

