.cartCont{
    max-width:800px;
    width:100%;
    min-height: 250px;
    margin-bottom: 40px;
    display:flex;
    flex-direction: row;
    box-shadow:0 0.1rem 0.3rem rgba(0,0,0,0.8);
    justify-content: space-between;
    background-color: #ffffff;
}

.cartTodosDatos{
    min-height: 250px;
    height:100%;
    
}
.cartDatos{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    
}
.contDatosBut{
    display: flex;
    max-width: 450px;
    width:100%;
    justify-content: space-between;  
}

.cartTitulo{
    margin-bottom: 20px;
    font-size: 2.6rem;
    
}
.carritoVacio{
    margin-top: 20px;
    font-size: 1.8rem;
}


.cartimg{
    max-width: 250px;
    height: 100%;
}
.cartName{
    font-size: 1.5rem;
    max-width: 300px;
    font-weight:550;
}
.cartCant{
    font-size: 1rem;
}
.cartPrecio{
    font-size: 1.3rem;
    font-weight: bold;
}
.cartStock{
    font-size: 0.9rem;
    color:rgb(0, 132, 255);
    font-weight: bold;
}


.cartQuitar {
    display: flex;
    align-items: center;
    padding: 3px;
    height:20px;
    margin-left:15px;
    border: none;
    box-shadow:0 0.1rem 0.1rem rgba(0,0,0,0.8);
    transition: all 0.3s ease-in-out;
}
.cartQuitar:hover{
    background-color:rgb(233, 23, 23) ;
    opacity: 0.8;
    cursor: auto;
}
.cartButtons{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.cartAdd{
    padding: 18px ;
    margin-right: 20px;
    height:50px;
    display: flex;
    align-items: center;
    background: rgb(0, 132, 255);
    border:none;
    cursor:pointer;
    border-radius:5px;
    box-shadow:0 0.1rem 0.5rem rgba(0,0,0,0.8);
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}
.cartAdd:hover{
    opacity:0.8;
}
.cartRest{
    padding: 18px ;
    margin-right: 10px;
    height:50px;
    display: flex;
    border:none;
    cursor:pointer;
    align-items: center;
    background-color: rgb(219, 218, 218);
    box-shadow:0 0.1rem 0.5rem rgba(0,0,0,0.8);
    transition: all 0.3s ease-in-out;
    font-size: 1.rem
}
.cartRest:hover{
    opacity: 0.6;
}


@media screen and (max-width: 790px) {
    .cartDatos{
        margin-right: 40px;
    }
    
}
@media screen and (max-width: 620px) {
    .cartDatos{
        margin-right: 0px;
    }
}


@media screen and (max-width: 600px) {
    .cartCont{
        flex-wrap: wrap;
        width:250px;
        min-height:500px ;
    }
    .cartDatos{
        max-width: 100%;
    }
    
}